<h5>Public PHP Methods</h5>
{% if custom.methods|length > 0 %}
<ul class="collapsible popout" data-collapsible="accordion">
    {% for m in custom.methods %}
    <li id="method-{{m.name}}">
        <div class="collapsible-header">
            <code><strong>{{m.name}}</strong>({{m.params}})</code>
        </div>
        <div class="collapsible-body">
            {% if m.comment is empty %}
            <p>No documentation available.</p>
            {% else %}
            <p>{{m.comment|nl2br}}</p>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %} 
<p>This interface has no public methods yet or a problem occurred while retrieving them.</p>
{% endif %}
<h5>Create Class from Interface (CLI)</h5>
<p>With <a href="https://github.com/CloudObjects/phpMAE#installation">phpMAE installed locally</a>, you can create a PHP class that implements this interface with the following command:</p>
<pre class="co-console">phpmae class:create --implements={{id}} --confjob &lt;COID&gt;</pre>
