<h5>Whitelisted Classes from Packages</h5>
<ul>
    {% for className in config['coid://phpmae.dev/whitelistsClassname'] %}
    <li><code>{{ className.o_value }}</code></li>
    {% endfor %}
</ul>
<h5>Defined Packages</h5>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        {% for package in custom.defined %}
        <tr>
            <td><a href="https://packagist.org/packages/{{ package.name }}">{{ package.name }}</a></td>
            <td>{{ package.version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>Actual Installed Packages</h5>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        {% for package in custom.actual %}
        <tr>
            <td>{% if package.defined %}<strong>{% endif %}<a href="https://packagist.org/packages/{{ package.name }}">{{ package.name }}</a>{% if package.defined %}</strong>{% endif %}</td>
            <td>{{ package.version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>